@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
}

#map{
    height: 500px;
    width: 100%;
    text-align: center;
}

body{
    background-color: antiquewhite;
}

.info{
    text-align: center;
    margin: 90px;
}

h1{
    text-align: center;
    font-size: 80px;
    
}

.mapouter{
    /* display: flex;
   flex-direction: row;
   justify-content: center;

*/
margin: auto;
} 

.mapout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.gmap_canvas {overflow:hidden;
    background:none
    !important;
    height:400px;
    width:500px}
    
.dropbtn {
     background-color: #8fbc8f;
    color: white;
    padding: 20px;
        font-size: 40px;
        border: none;
        cursor: pointer;
        margin-left: 1500px;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
      }
      
      #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
      }
      
      #myInput:focus {outline: 3px solid #ddd;}
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        margin-left: 1500px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}