#map{
    height: 500px;
    width: 100%;
    text-align: center;
}

body{
    background-color: antiquewhite;
}

.info{
    text-align: center;
    margin: 90px;
}

h1{
    text-align: center;
    font-size: 80px;
    
}

#flexbox{
    display: flex;
    justify-content: center;
    

}

.gmap_canvas {overflow:hidden;
    background:none
    !important;
    height:400px;
    width:500px}