#map{
    height: 500px;
    width: 100%;
    text-align: center;
}

body{
    background-color: antiquewhite;
}

.info{
    text-align: center;
    margin: 90px;
}

h1{
    text-align: center;
    font-size: 80px;
    
}